<main class="flex flex-col mt-8">
  <header class="flex flex-col h-full mb-6" id="main-header-content">
    <div class="container mx-auto md:px-24">
      <div class="elements-grid grid grid-cols-1 md:grid-cols-2">
        <div class="elements-grid-item flex flex-col justify-center order-2 md:order-1">
          <h1 class="text-5xl leading-normal font-bold mb-2 dark:text-white text-black">Veja os gráficos das principais criptomoedas e consulte as melhores opções de compra</h1>
          <p class="dark:text-gray-300 text-gray-600 leading-relaxed text-lg">Capturamos os preços em tempo real das mais famosas criptomoedas em um ranking para você escolher a melhor alternativa.</p>
          <div class="flex items-center my-10 gap-4">
            <a href="/coins">
              <button class="main-button transition ease-in-out px-6 py-3 font-semibold rounded-md">
                Começar agora
              </button>
            </a>
          </div>
        </div>

        <div class="main-illustration order-1 md:order-2 -mt-10">
          <%= image_tag "payment_illustration.svg" %>
        </div>
      </div>
    </div>
  </header>

  <section id="main-apresentation" class="flex flex-col">
    <div class="container md:px-4">
      
    </div>
  </section>
</main>
