<div class="wishlist-page container mx-auto mt-2 px-4 md:px-24">
  <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
    <span class="col-span-2 bg-white bg-opacity-10 animate-pulse h-48 w-full rounded-md"></span>
    <span class="col-span-2 bg-white bg-opacity-10 animate-pulse h-48 w-full rounded-md"></span>
    <span class="col-span-2 bg-white bg-opacity-10 animate-pulse h-48 w-full rounded-md"></span>
    <span class="col-span-2 bg-white bg-opacity-10 animate-pulse h-48 w-full rounded-md"></span>
    <span class="col-span-2 bg-white bg-opacity-10 animate-pulse h-48 w-full rounded-md"></span>
    <span class="col-span-2 bg-white bg-opacity-10 animate-pulse h-48 w-full rounded-md"></span>
    <span class="col-span-2 bg-white bg-opacity-10 animate-pulse h-48 w-full rounded-md"></span>
    <span class="col-span-2 bg-white bg-opacity-10 animate-pulse h-48 w-full rounded-md"></span>
    <span class="col-span-2 bg-white bg-opacity-10 animate-pulse h-48 w-full rounded-md"></span>
    <span class="col-span-2 bg-white bg-opacity-10 animate-pulse h-48 w-full rounded-md"></span>
    <span class="col-span-2 bg-white bg-opacity-10 animate-pulse h-48 w-full rounded-md"></span>
    <span class="col-span-2 bg-white bg-opacity-10 animate-pulse h-48 w-full rounded-md"></span>
  </div>
</div>