<div class="container mx-auto mt-2 px-4 md:px-24">
  <header class="mb-6">
    <div class="mb-3">
      <ul class="list-none flex items-center">
        <li class="flex items-center text-sm text-black dark:text-white opacity-60 hover:opacity-100"><a href="/">Criptomoedas</a><i class="fe fe-arrow-right
mx-3 text-black dark:text-white opacity-20"></i></li>
        <li class="flex items-center text-sm text-black dark:text-white opacity-60 hover:opacity-100"><a href="/coins">Moedas</a><i class="fe fe-arrow-right
mx-3 text-black dark:text-white opacity-20"></i></li>
        <li id="curr-symbol" class="flex items-center text-sm text-black dark:text-white cursor-default"><span class="w-10 h-4 rounded-md animate-pulse bg-white bg-opacity-10"></span></li>
      </ul>
    </div>

    <div id="curr-header" class="flex flex-col md:flex-row items-center md:justify-between gap-6 md:gap-0">
      <div class="flex items-center gap-5 w-full">
        <span class="w-16 h-16 rounded-full animate-pulse bg-black dark:bg-white dark:bg-opacity-10 bg-opacity-10"></span>
      
        <div class="flex flex-col items-start flex-1">
          <span class="rounded-md w-full md:w-96 h-8 animate-pulse bg-black dark:bg-white dark:bg-opacity-10 bg-opacity-10 mb-2"></span>
          <div class="flex items-center gap-2">
            <span class="rounded-md w-20 h-6 animate-pulse bg-black dark:bg-white dark:bg-opacity-10 bg-opacity-10"></span>
            <span class="rounded-md w-20 h-6 animate-pulse bg-black dark:bg-white dark:bg-opacity-10 bg-opacity-10"></span>
          </div>
        </div>
      </div>

      <div class="flex items-start md:items-end flex-col gap-2 w-full md:w-auto">
        <span class="rounded-md w-24 h-4 animate-pulse bg-black dark:bg-white dark:bg-opacity-10 bg-opacity-10"></span>
        <span class="rounded-md w-full md:w-72 h-8 animate-pulse bg-black dark:bg-white dark:bg-opacity-10 bg-opacity-10"></span>
        <div class="flex items-center gap-2 mb-4">
          <span class="rounded-md w-12 h-4 animate-pulse bg-black dark:bg-white dark:bg-opacity-10 bg-opacity-10"></span>
          <span class="rounded-md w-12 h-4 animate-pulse bg-black dark:bg-white dark:bg-opacity-10 bg-opacity-10"></span>
        </div>
        <div class="flex flex-col md:flex-row items-center gap-4">
          <span class="rounded-md w-44 md:w-24 h-12 animate-pulse bg-black dark:bg-white dark:bg-opacity-10 bg-opacity-10"></span>
          <span class="rounded-md w-44 md:w-24 h-12 animate-pulse bg-black dark:bg-white dark:bg-opacity-10 bg-opacity-10"></span>
          <span class="rounded-md w-44 md:w-24 h-12 animate-pulse bg-black dark:bg-white dark:bg-opacity-10 bg-opacity-10"></span>
          <span class="rounded-md w-44 md:w-24 h-12 animate-pulse bg-black dark:bg-white dark:bg-opacity-10 bg-opacity-10"></span>
        </div>
      </div>
    </div>

    <nav id="header-nav" class="header-navbar mt-6">
      <ul class="flex items-center">
        <li class="py-2 px-4 selected text-black dark:text-white dark:text-opacity-60 text-opacity-60" refer="default">Visão geral</li>
        <li class="py-2 px-4 text-black dark:text-white dark:text-opacity-60 text-opacity-60" refer="news">Notícias</li>
      </ul>
    </nav>
  </header>
  <main class="mb-12">
    <div class="flex flex-col-reverse gap-4 md:grid md:grid-cols-12 md:gap-6">
      <div id="currency-content-display" class="flex flex-col gap-12 md:gap-6 col-span-8" content="default">

      </div>
      <div id="currency-content-column" class="col-span-4 flex flex-col gap-4">
        <section class="flex flex-col" id="currency-conversor"></section>
        <section class="flex flex-col" id="dynamic-content-column"></section>
      </div>
    </div>
  </main>
</div>