<div class="container mx-auto mt-2 px-4 md:px-24 flex flex-col gap-2">
  <h1 class="text-xl font-semibold dark:text-white text-black">Sobre o projeto</h1>
  <p class="text-white text-opacity-80 font-normal">O cryptowl é uma plataforma de monitoramento de preços, na qual são disponibilizados, em tempo real, os valores das principais criptomoedas presentes no mercado atualmente. Em resumo, o desenvolvimento do projeto deu-se em função de um trabalho da faculdade, mas as inspirações para sua criação vieram também do cenário crescente das criptomoedas, além da grande disponibilidade de informações referente aos preços dessas moedas pelas APIs públicas e outras ferramentas. A estrutura do projeto é baseada no Ruby on Rails, porém a maior parte das funcionalidades que tornam a plataforma dinâmica são providas através da linguagem JavaScript.</p>
  <h1 class="font-semibold text-xl">Ferramentas utilizadas</h1>
  <p class="text-white text-opacity-80 font-normal">As principais ferramentas utilizadas durante o desenvolvimento do projeto estão listas abaixo:</p>
  <div class="grid grid-cols-12">
    <div class="col-span-3">
      
    </div>
  </div>
</div>