<div class="container mx-auto mt-2 px-4 md:px-24 flex flex-col gap-1">
  <h1 class="text-xl font-semibold dark:text-white text-black">Sobre o projeto</h1>
  <p class="text-black text-opacity-70 dark:text-white dark:text-opacity-80 font-normal mb-4">O cryptowl é uma plataforma de monitoramento de preços, na qual são disponibilizados, em tempo real, os valores das principais criptomoedas presentes no mercado atualmente. Em resumo, o desenvolvimento do projeto deu-se em função de um trabalho da faculdade, mas as inspirações para sua criação vieram também do cenário crescente das criptomoedas, além da grande disponibilidade de informações referente aos preços dessas moedas pelas APIs públicas e outras ferramentas. A estrutura do projeto é baseada no Ruby on Rails, porém a maior parte das funcionalidades que tornam a plataforma dinâmica são providas através da linguagem JavaScript.</p>
  <h1 class="font-semibold text-xl text-black dark:text-white">Ferramentas utilizadas</h1>
  <p class="text-black text-opacity-70 dark:text-white dark:text-opacity-80 font-normal">As principais ferramentas utilizadas durante o desenvolvimento do projeto estão listas abaixo:</p>
  <div class="mt-2 mb-4">
    <ul class="flex flex-col gap-8">
      <li class="flex items-center gap-4">
        <img src="/images/credits/coincap_logo.svg" alt="Coincap API" class="w-28 h-12 object-cover bg-white p-2 rounded-md">
        <div class="flex flex-col">
          <h1 class="text-lg font-semibold text-black dark:text-white">Coincap API</h1>
          <p class="text-sm text-black text-opacity-70 dark:text-white dark:text-opacity-60 ">Ferramenta usada para a consulta das informações referentes as criptomoedas, tal como preço, capital de mercado, entre outras.</p>
        </div>
      </li>
      <li class="flex items-center gap-4">
        <img src="/images/credits/cmc_logo.png" alt="Coincap API" class="w-28 h-12 object-contain bg-white rounded-md">
        <div class="flex flex-col">
          <h1 class="text-lg font-semibold text-black dark:text-white">CoinMarketCap API</h1>
          <p class="text-sm text-black text-opacity-70 dark:text-white dark:text-opacity-60 ">Ferramenta utilizada para a captura das notícias referentes as criptomoedas acessadas individualmente como página dinâmica da plataforma.</p>
        </div>
      </li>
      <li class="flex items-center gap-4">
        <img src="/images/credits/rails_logo.png" alt="Rails" class="w-28 h-12 object-cover rounded-md bg-white p-2">
        <div class="flex flex-col">
          <h1 class="text-lg font-semibold text-black dark:text-white">Rails</h1>
          <p class="text-sm text-black text-opacity-70 dark:text-white dark:text-opacity-60">Framework utilizada para a construção do servidor da aplicação e para a disponibilização de outros serviços.</p>
        </div>
      </li>
      <li class="flex items-center gap-4">
        <img src="/images/credits/tailwind_logo.png" alt="Rails" class="w-28 h-12 object-cover rounded-md">
        <div class="flex flex-col">
          <h1 class="text-lg font-semibold text-black dark:text-white">TailwindCSS</h1>
          <p class="text-sm text-black text-opacity-70 dark:text-white dark:text-opacity-60">Biblioteca de estilos utilizada para a formação da interface do projeto.</p>
        </div>
      </li>
    </ul>
  </div>
  <h1 class="font-semibold text-xl text-black dark:text-white">Autor</h1>
  <p class="text-black text-opacity-70 dark:text-white dark:text-opacity-80 font-normal mb-4">O projeto foi carinhosamente desenvolvido por <a class="text-black dark:text-white font-semibold underline" href="https://jonathasandrade.info" target="_blank" rel="noopener noreferrer">Jonathas dos Santos Andrade</a>, estudante de Ciência da Computação na Universidade Federal do Estado do Pará, para a disciplina de Programação I da Faculdade de Computação, ministrada pelo professor <a class="text-black dark:text-white font-semibold underline" href="http://gustavopinto.org" target="_blank" rel="noopener noreferrer">Gustavo Pinto</a>.</p>
</div>